header {
    position: absolute;
    top: 0;
    z-index: 1000;
    width: 100%;
    background-color: transparent;
    transition: background-color 0.3s ease;
    nav {
        background-color: transparent;
        padding: 0 !important;
        .custom-toggler {
            z-index: 1020;
            position: absolute;
            top: 28px;
            right: 15px;
            left: auto;
            background-color: transparent;
            border: none;
            &:focus {
                outline: none;
                box-shadow: none;
            }
        
            .custom-toggler-icon {
                display: block;
                position: relative;
                width: 30px;
                height: 24px;
                margin: 0 auto;
            
                .bar {
                    background-color: black;
                    height: 4px;
                    width: 100%;
                    position: absolute;
                    transition: all 0.3s;
                    border-radius: 1rem;
                    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
            
                    &.bar1 {
                        top: 0;
                    }
            
                    &.bar2 {
                        top: 10px;
                    }
            
                    &.bar3 {
                        top: 20px;
                    }
                }
            
                &.opened {
                    .bar1 {
                        transform: rotate(45deg) translateY(10px) translateX(5px);
                    }
            
                    .bar2 {
                        opacity: 0;
                    }
            
                    .bar3 {
                        transform: rotate(-45deg) translateY(-10px) translateX(5px);
                    }
                }
            }
            
        }
        .desktop-menu {
            margin: auto;
        }
        .mobile-menu {
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            background-color: rgba(255, 255, 255, 0.9);
            z-index: 2010;
            overflow-y: auto;
            opacity: 0;
            pointer-events: none;
            transition: transform 0.3s ease-out, opacity 0.3s ease-out;
            display: flex;
            align-items: center;
            justify-content: center;
        
            &.active {
                transform: translateY(0%);
                opacity: 1;
                pointer-events: auto;

            }
            
            ul {

                list-style-type: none;
                padding: 0;
                text-align: center;
        
                li {
                    margin: 15px 0;
                    font-weight: normal;
                    a {
                        color: #000;
                        text-decoration: none;
                        z-index: 99999999;
                    }
                }
            }
        }        
    }
}

@media (min-width: 992px) {
    header nav .custom-toggler {
        display: none;
    }

    header nav .collapse {
        // position: static;
        background-color: transparent; 
    }
}